<ion-view view-title="Home" ng-controller="HomeController">
    <ion-content>
        <div style="display: none">
            jsem tu
            asd
            asd
            asd
            ad
            asd
            asdas
            d
            asd
            asd
            asd
            asd
            as
            dasd
            as
            dd
            ad
            asd
            asd

        </div>
        <div>
            <button ng-click="toSetting()"> settings</button>
        </div>
        <!--<ion-list>-->
        <!--<ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">-->
        <!--{{playlist.title}}-->
        <!--</ion-item>-->
        <!--</ion-list>-->
    </ion-content>
</ion-view>

